.table-trading .table-title {
    display: none;
    /* background: red;
    
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white; */
}